ul{
    text-align:left ;
    text-decoration: none;
    color: rgb(201, 31, 31);
}
h1{
    color: rgb(201, 31, 31);
    text-align: center;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
#sedans{
    width: 400px;
    height: 400px;
    align-content: center;
    justify-content: center;
    background-color:rgb(62, 91, 130);
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;

    
    -o-border-radius: 2.5em;
}
#suvs{
     width: 400px;
    height: 400px;
    align-content: center;
    justify-content: center;
    background-color: rgb(153, 193, 216);
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
#luxury{
     width: 400px;
    height: 400px;
    align-content: center;
    justify-content: center;
    background-color: rgb(224, 252, 252);
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
img {
    display: block;
    margin: auto;
    width: 20%;
    height: 10%;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color: rgb(201, 31, 31);
    border: none;
    margin-left: 40%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
button:hover{
    width: 100px;
    height: 35px;
    border-radius: 2px;
    background-color:rgb(143, 26, 26);
    cursor:pointer;
    border: none;
    margin-left: 40%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
