nav{
    text-align:left ;
    text-decoration: none;
}
h1{
    color: rgb(201, 31, 31);
    text-align: center;
}
p{
    font-weight: bolder;
    text-align: center;
}
#sedans{
    align-content: center;
    justify-content: center;
    background-color: rgb(163, 163, 1);
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
#suvs{
    align-content: center;
    justify-content: center;
    background-color: rgb(28, 28, 102);
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
#luxury{
    align-content: center;
    justify-content: center;
    background-color: rgb(40, 124, 40);
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    margin: auto;
    width: 10%;
}
button{
    border-radius: 5px;
    background-color: rgb(201, 31, 31);
    border: none;
    margin-left: 50%;
}
button:hover{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(201, 31, 31);
    cursor:alias;
    border: none;
    margin-left: 50%;

}
